/*
Error: Invalid CSS after "...el="stylesheet"": expected "{", was ""
        on line 12 of C:\Users\ALS_Checkout0924\Desktop\imed2315\Our-Place\typography.scss

7: <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
8: <link rel="preconnect" href="https://fonts<link rel="preconnect" href="https://fonts.googleapis.com">
9: <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
10: <link rel="preconnect" href="https://fonts.googleapis.com">
11: <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
12: <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet"

Backtrace:
C:\Users\ALS_Checkout0924\Desktop\imed2315\Our-Place\typography.scss:12
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/engine.rb:290:in `render'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/lib/ruby/gems/3.0.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/bin/sass:23:in `load'
C:/Program Files/Adobe/Adobe Dreamweaver 2021/ruby/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...el=\"stylesheet\"\": expected \"{\", was \"\"\A         on line 12 of C:\Users\ALS_Checkout0924\Desktop\imed2315\Our-Place\typography.scss\A \A 7: <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\A 8: <link rel=\"preconnect\" href=\"https://fonts<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\A 9: <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\A 10: <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\A 11: <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\A 12: <link href=\"https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap\" rel=\"stylesheet\""; }
